@page
@model EnterpriseCarDealership.Pages.Map.MapModel
@{
}
@*Khaled*@
<head>

    <link href="~/css/site.css" rel="stylesheet" />
</head>

|@* here sætter vi en link til et kort*@
<div class="containermap">
    <h1>Our Location Map</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2252.3482349660153!2d12.078198899999991!3d55.63075579999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525fdd57cbf297%3A0xd464f030d9a81f8!2sZealand%20-%20Sj%C3%A6llands%20Erhvervsakademi!5e0!3m2!1sda!2sdk!4v1685312938987!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
</div>