@page
@model EnterpriseCarDealership.Pages.CRUDManager.CreateManagerModel
@{
}
@*Jakob*@
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        @* de følgende input fields er forbundet med de relaterede attributter i controller delen*@

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CreateManager.Name"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="CreateManager.Name" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="CreateManager.Name"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CreateManager.Password"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="CreateManager.Password" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="CreateManager.Password"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CreateManager.IsMedarbejder"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="CreateManager.IsMedarbejder" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="CreateManager.IsMedarbejder"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CreateManager.IsAdmin"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="CreateManager.IsAdmin" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="CreateManager.IsAdmin"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CreateManager.Tlf"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="CreateManager.Tlf" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="CreateManager.Tlf"></span>
        </div>


        @*knappen er forbundet med funktionen oppost i controller delen*@
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-dark" value="CreateManager" />
            </div>
            <div class="col-5">
            </div>
        </div>
    </form>
</div>