@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
@* med css her har vi lavet en text der beskriver vores virksomhed og vi har lavet nogen cards med vores managers og founders billder på *@
@*karzan*@
<html id="AboutUsHtml">
    <body id="AboutUsBody">
<div class="about-section">
    <h1>About Us</h1>
        <p>
            <section>

               
                <p>
                    Enterprise Rent a Car er et førende biludlejningsfirma med global tilstedeværelse. Med over 10 års erfaring i branchen har vi etableret os som et betroet navn inden for pålidelige og prisvenlige biludlejningstjenester.
                </p>
                <p>
                    Vores mission er at gøre transport nemt og bekvemt for vores kunder. Uanset om du har brug for en bil til en forretningsrejse, ferie eller et andet formål, har vi et bredt udvalg af køretøjer, der passer til dine behov. Fra små biler til luksussedaner og SUV'er tilbyder vi en alsidig flåde af velholdte og komfortable køretøjer.
                </p>
                <p>
                    Hos Enterprise Rent a Car prioriterer vi kundetilfredshed. Vores dedikerede team af professionelle er forpligtet til at levere enestående service og sikre en problemfri udlejningsoplevelse. Vi stræber efter at overgå vores kunders forventninger ved at yde personlig opmærksomhed og imødekomme deres specifikke krav.
                </p>
                <p>
                    Vi forstår vigtigheden af bekvemmelighed, hvilket er grunden til, at vi tilbyder fleksible udlejningsmuligheder og bekvemme afhentnings- og afleveringssteder. Med flere afdelinger i forskellige byer kan du nemt finde os, uanset hvor du befinder dig.
                </p>
                <p>
                    Som et samfundsansvarligt firma prioriterer vi også bæredygtighed. Vi arbejder kontinuerligt på at reducere vores miljømæssige påvirkning ved at implementere miljøvenlige praksisser og tilbyde hybrid- og elbiler som en del af vores flåde.
                </p>
                <p>
                    Tak fordi du valgte Enterprise Rent a Car. Vi ser frem til at betjene dig og give dig en mindeværdig biludlejningsoplevelse.
                </p>
            </section>
        </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row" id="AboutUsRow">
    <div class="column" id="AboutUsColumn">
        <div class="card" id="AboutUsCard">
                <img src="~/css/image/capture1.png" style="width:100%" id="image1">
            <div class="container" id="AboutUsContainer">
                <h2>Andrew C.Taylor</h2>
                <p class="title" id="AboutUsTitle">Executive Chairman</p>
                <p>Andrew@enterprice.com</p>
                <p><button class="button" id="AboutUsButton">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column" id="AboutUsColumn">
        <div class="card" id="AboutUsCard">
                <img src="~/css/image/capture2.png" alt="Chrissy" style="width:100%"id="image2">
            <div class="container" id="AboutUsContainer">
                    <h2>Chrissy Taylor</h2>
                    <p class="title" id="AboutUsTitle">President & Chief Executive Officer</p>
                <p>Chrissy@enterprise.com</p>
                <p><button class="button" id="AboutUsButton">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column" id="AboutUsColumn">
        <div class="card" id="AboutUsCard">
                <img src="~/css/image/capture3.png"alt="Jo Ann" style="width:100%" id="image3">
            <div class="container" id="AboutUsContainer">
                    <h2>Jo Ann Taylor</h2>
                    <p class="title" id="AboutUsTitle">Chairperson</p>
                <p>Jo@enterprise.com</p>
                <p><button class="button" id="AboutUsButton">Contact</button></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
