@page
@model IndexModel
@{

    ViewData["Title"] = "Enterprise";
}
@*her har vi lavet en video method til vores home page med text "catch phrase" og en knape der redirect til vores biler   //Jakob *@
<head>
 
    <link href="~/css/site.css" rel="stylesheet"/>

</head>

<!DOCTYPE html>
<html>

<body>
    <div class="contentIndex"> 
        <h1>TRAVEL THE WORLD WITH US</h1>
        <a asp-page="/CRUDCar/ViewCar">Explore</a>
    </div>

    <div class="video-container">
         
        <video autoplay loop muted plays-inline class="back-video">
            <source src="~/video/pexels-mikhail-nilov-7461082-1920x1080-25fps.mp4" type="video/mp4" />
        </video>
        
    </div>
 
    
</body>
</html>
